/*body{*/
/*    font-family: 'Quicksand', sans-serif;*/
/*    background: url(../img/bg.jpg) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

#start{
    line-height: 50px;
    font-size: 2rem;
}

#countdown { font-size: 500%; font-weight: bold; }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;

}


/*==================== Players Information ===========================*/
.players{
    min-height: 300px;
}

.inputName{
    margin: 25px 0;
}
